
<div class="col-sm-6 col-md-3 plan price-four wow fadeInDown">
    <ul>
        <li class="heading-four">
            <h1>Basic</h1>
            <span>$3/Month</span>
        </li>
        <li>5 Gb Disk Space</li>
        <li>1GB Dadicated Ram</li>
        <li>10 Addon Domain</li>
        <li>10 Email Account</li>
        <li>24/7 Support</li>
        <li class="plan-action">
            <a href="" class="btn btn-primary">Sign up</a>
        </li>
    </ul>
</div>

<div class="col-sm-6 col-md-3 plan price-five wow fadeInDown">
    <ul>
        <li class="heading-five">
            <h1>Standerd</h1>
            <span>$6/Month</span>
        </li>
        <li>5 Gb Disk Space</li>
        <li>1GB Dadicated Ram</li>
        <li>10 Addon Domain</li>
        <li>10 Email Account</li>
        <li>24/7 Support</li>
        <li class="plan-action">
            <a href="" class="btn btn-primary">Sign up</a>
        </li>
    </ul>
</div>

<div class="col-sm-6 col-md-3 plan price-six wow fadeInDown">
    <img src="images/ribon_two.png">
    <ul>
        <li class="heading-six">
            <h1>Premium</h1>
            <span>$12/Month</span>
        </li>
        <li>5 Gb Disk Space</li>
        <li>1GB Dadicated Ram</li>
        <li>10 Addon Domain</li>
        <li>10 Email Account</li>
        <li>24/7 Support</li>
        <li class="plan-action">
            <a href="" class="btn btn-primary">Sign up</a>
        </li>
    </ul>
</div>

<div class="col-sm-6 col-md-3 plan price-seven wow fadeInDown">
    <ul>
        <li class="heading-seven">
            <h1>Developer</h1>
            <span>$19/Month</span>
        </li>
        <li>5 Gb Disk Space</li>
        <li>1GB Dadicated Ram</li>
        <li>10 Addon Domain</li>
        <li>10 Email Account</li>
        <li>24/7 Support</li>
        <li class="plan-action">
            <a href="" class="btn btn-primary">Sign up</a>
        </li>
    </ul>
</div>
