@model SitecoreReference.Models.Service
<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
    <div class="feature-wrap">
        <i class="fa fa-@Model.Icon"></i>
        <h2>@Model.Title</h2>
        <h3>@Model.Description</h3>
    </div>
</div><!--/.col-md-4-->
