<div class="col-sm-4 plan price-one wow fadeInDown">
    <ul>
        <li class="heading-one">
            <h1>Start Up</h1>
            <span>$6/Month</span>
        </li>
        <li>5 Gb Disk Space</li>
        <li>1GB Dadicated Ram</li>
        <li>10 Addon Domain</li>
        <li>10 Email Account</li>
        <li>24/7 Support</li>
        <li class="plan-action">
            <a href="" class="btn btn-primary">Sign up</a>
        </li>
    </ul>
</div>

<div class="col-sm-4 plan price-two wow fadeInDown">
    <ul>
        <li class="heading-two">
            <h1>Standerd</h1>
            <span>$12/Month</span>
        </li>
        <li>10 Gb Disk Space</li>
        <li>2GB Dadicated Ram</li>
        <li>20 Addon Domain</li>
        <li>20 Email Account</li>
        <li>24/7 Support</li>
        <li class="plan-action">
            <a href="" class="btn btn-primary">Sign up</a>
        </li>
    </ul>
</div>

<div class="col-sm-4 plan price-three wow fadeInDown">
    <img src="images/ribon_one.png">
    <ul>
        <li class="heading-three">
            <h1>Premium</h1>
            <span>$24/Month</span>
        </li>
        <li>50 Gb Disk Space</li>
        <li>8GB Dadicated Ram</li>
        <li>Unlimited Addon Domain</li>
        <li>Unlimited Email Account</li>
        <li>24/7 Support</li>
        <li class="plan-action">
            <a href="" class="btn btn-primary">Sign up</a>
        </li>
    </ul>
</div>
