<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-4">
                <div class="top-number"><p><i class="fa fa-phone-square"></i>  (514) 840-6100</p></div>
            </div>
            <div class="col-sm-6 col-xs-8">
                <div class="social">
                    @Html.Partial("_SocialShare")
                    @Html.Partial("_Search")
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div><!--/.top-bar-->
