@using SitecoreReference.Models;
@model IEnumerable<ClientComment>
<div class="clients-area center wow fadeInDown">
    <h2>What our client says</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
</div>

<div class="row">
    @foreach (var clientCommentItem in Model.Take(3))
    {
        @Html.Partial("_ClientCommentItem", clientCommentItem)
    }
</div>
