<div class="blog-item">
    <div class="row">
        <div class="col-sm-2 text-center">
            <div class="entry-meta">
                <span id="publish_date">07  NOV</span>
                <span><i class="fa fa-user"></i> <a href="#">John Doe</a></span>
                <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
                <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
            </div>
        </div>
        <div class="col-sm-10 blog-content">
            <a href="@Url.Action("Details", "Blog")"><img class="img-responsive img-blog" src="~/images/blog/blog1.jpg" width="100%" alt="" /></a>
            <h2><a href="@Url.Action("Details", "Blog")">Consequat bibendum quam liquam viverra</a></h2>
            <h3>Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.</h3>
            <a class="btn btn-primary readmore" href="@Url.Action("Details", "Blog")">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div><!--/.blog-item-->

